body {
  background-color: palegreen;
}

/*.mainTable { width: 100%;}*/
.mainTable td, .mainTable th {
  border: 1px solid black;
  padding: 10px;
}

/*.mainTable__image{width: 300px;}*/

.mainTable__header{
  accent-color: chocolate;
  font-family: fantasy;
  color: darkgoldenrod;
  font-size: 18px;
  font-weight: bolder;
}
.mainTable__content{
  font-family: "Book Antiqua";
  color: blueviolet;
  font-stretch: 15%;
  font-variant: full-width;
}

.mainTable__content #th {
  color: orange;
  padding: 0px 40px;
}
